<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.joylife.tracker.dao.mapper.CampaignLandingPageMapper">
  <resultMap id="BaseResultMap" type="top.joylife.tracker.dao.entity.CampaignLandingPage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="campaign_id" jdbcType="INTEGER" property="campaignId" />
    <result column="landing_page_id" jdbcType="INTEGER" property="landingPageId" />
  </resultMap>
</mapper>